<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util-3.0.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
      ">
<!--    文档的springmvc配置说的是这里-->
<!--    开启注解,这个同样也开启了大量的默认转换功能,比如各种从String转到Integer的情况.-->
<!--    这个conversion中的值是对应下面的声明的bean的,有可能打错打成spirng自带的,问题来了,那个自带的是干的什么?-->
    <mvc:annotation-driven conversion-service="conversionService" />
<!--    conversion-service="converService"-->
<!--    开启扫描,com.*没问题-->
    <context:component-scan base-package="com.*"/>

<!-- 静态资源过滤-->
<!--    <mvc:resources location="/pages/" mapping="/pages/**"/>-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/resumeSolution"/>
            <bean class="com.Interceptor.interceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <mvc:default-servlet-handler/>
<!--    视图渲染-->
    <!-- 视图渲染 jsp/freemaker/velocity-->

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <!-- 制定页面存放的路径 -->
        <property name="prefix" value="/pages/"/>
        <!-- 文件的后缀 -->
        <property name="suffix" value=".html"/>
    </bean>


<!--  转换器配置-->
  <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
<!--这个属性是一种可选属性,一共有好几种种-->
<!--      Formatter与Converter的作用相同(如果没有了解过Converter,请先看另一篇springMVC自定义数据绑定-Converter)，但是Formatter的源类型必须是字符串(由客户端发送数据基本为字符串类型)-->
<!--Converter能够将任意类型转换为指定的任意类型-->
<!--   具体内容应该在这里 https://docs.spring.io/spring-framework/docs/4.2.4.RELEASE/spring-framework-reference/html/validation.html#format-FormatterRegistrar-SPI  -->
      <property name="converters">
          <set>
              <bean class="com.Convert.convertTest"/>
          </set>
      </property>
  </bean>
<!--    注意这个是点为分割而且必须要写-->
<!--<bean id="testController" class="com.Convert.convertTest"/>-->

</beans>
